* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(229, 84, 115, 0.1);
    display: grid;
    background-size: cover;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    height: auto;
    place-items: center;
    padding: 0 80px;

}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}

.text-section h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #222;
}

.text-section p {
    font-size: 1rem;
    color: #555;
    max-width: 500px;
    opacity: 0.7;
}

.btn {
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    background-color: #e55473;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* added Our Featured Flowers section  */
.featured-flowers h3 {
    color: rgb(39, 39, 39);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.flower-des {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.featured-flowers {
    margin-top: 80px;
    display: grid;
    place-items: center;
}

.flowers-images {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.flower-1 {
    width: 350px;
    height: 380px;
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;

}

.flowers-images img {
    max-width: 70%;
    padding-top: 40px;
    height: auto;

}

.flower-2 {
    width: 350px;
    height: 380px;
    border-radius: 300px 300px 0 0;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    justify-content: center;

}

.flower-3 {
    width: 350px;
    height: 380px;
    border-radius: 300px 300px 0 0;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;

}

.caption {
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
    color: black;
    opacity: none;
}

/* added two section */

.two {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.support {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 65%;
    height: 250px;
    background-size: cover;

}

.support a {
    color: black;
    text-decoration: none;
}


/* added three section */


.three {
    margin-top: 80px;
    background-color: rgba(229, 84, 115, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    height: 600px;
    place-items: center;
    padding: 0 220px;

}

.discount h2 {
    font-family: Lato;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 15px;
    text-align: center;

}

.discount p {

    color: rgba(39, 39, 39, 0.6);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 25px;
    text-align: center;



}

.button {
    margin-top: 40px;
    display: grid;
    align-items: center;
    place-items: center;

}

.span {
    color:
        rgb(229, 84, 115);
}

.four {
    margin-top: 80px;
    display: grid;
    place-items: center;
}

.img img {
    margin-top: 40px;
    height: 300px;
    margin-right: 5px;
    border: 2px dashed gray;

}
.four h3{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 2.5rem;
font-weight: 800;
line-height: 40px;


}


.four p{
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 1.5rem;
font-weight: 400;
line-height: 20px;

}













@media screen and (max-width:576px) {

    .container {
        grid-template-columns: 1fr;
    }

    .text-section h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #222;
        align-self: flex-start;
    }

    .image-section img {
        width: 80%;
        height: auto;

    }

    .image-section {
        display: flex;
        justify-content: center;
    }

    .flowers-images {
        grid-template-columns: 1fr;

    }

    .support {
        grid-template-columns: 1fr;
        height: auto;
        gap: 30px;
    }

    .three {
        grid-template-columns: 1fr;
        height: auto;
    }

    .discount p {
        font-size: 1rem;

    }

    .discount h2 {
        margin-top: 20px;
        font-size: 1.5rem;

    }

    .button {
        margin-bottom: 20px;
    }

    .four{
        place-items: center;
        text-align: center;
    }
    .img img {
        
        height: auto;
        display: flex;
        flex-direction: column;
    }

}